.header {
    display: inline;
    width: 100%; 
    position: relative;
}

.logo {
    display: inline-block;
    width: 20%;
    margin-top: 40px;
    margin-left: 8%;
    width: 120px;
}
.menu-right {
    display: inline-block;
    width: 72%;
    float: right;
    margin-top: 40px;
    margin-right: 2%;
}

.socials {
    display: inline;
    float: right;
    margin-bottom: 10px;
    margin-right: 6%;
    // position: absolute;
    // top: 50px;
    // right: -480%;
}

.socials i {
    margin-right: 8px;
}

nav {
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.socials a {
    color: black;
    font-size: 18px;
    // margin-right: 2%;
}